/* COLOR FORMAL PAG: #28a445 */
body {
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.navbar-verde{
    background-color: rgba(40, 164, 69, 1) !important;
    color: rgba(255,255,255,0.8);
}

.navbar-verde:hover{
    color: rgba(255,255,255,1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,0.7) !important;
    border-color: rgba(255,255,255,0.7) !important;
}

.navbar-light .navbar-toggler:hover {
    color: rgba(255,255,255,0.9) !important;
    border-color: #218838 !important;
    background-color: #218838;
}

.alerta-naranja{
	background-color: orange; 
	color: white; 
	border: orange;
    border-radius: 0px;
}

.alerta-roja{
    background-color: #ff6666;
    color: white;
    border: #ff6666;
    border-radius: 0px;
}



.custom-file-input ~ .custom-file-label::after {
    content: "Subir";
}
.custom-file-label {
    overflow: hidden;
}
.container{
    max-width: 960px;
}

.letras{
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sc-main{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(/img/fondo.jpg) no-repeat 50% 50% !important;
    background-size: cover !important;
    position: relative;
}

.sc-main{
	min-height: 50vh;
}

.btnes{
    border-color: white !important;
}

.btnes:hover{
    border-color: transparent !important;
}

.sc-header-content{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
}

.text-light{
    font-size: 25px;
}
#error-container {
    margin-top:10px;
    position: fixed;
}
/* MENU DE PERFILES */
.div-menu{
    border-radius: 0 0;
    height: 80px;
    background-color: rgb(108, 117, 125);
    color: rgb(242, 242, 242);
}

.div-menu:hover{
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    color: white;
}

.div-menu-sin-hover{
    background-color: rgb(108, 117, 125);
    color: rgb(242, 242, 242);
}

.menu{
    background-color: rgb(108, 117, 125);
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    visibility: hidden;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* INDEX */
.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 5px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 15px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.subasta-card{
	background-color: rgba(228, 230, 231, 1);
}

.paginador-current{
	background-color: rgb(255, 84, 0) !important; 
	color: white !important; 
	border: 1px solid #FF5400 !important;
}

.paginador-item{
	color: #FF5400;
}

.paginador-item:hover{
	color:rgb(204, 68, 0);
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 85, 0,.25);
}
    
.texto-verde{
	color:rgba(30, 123, 52,0.9);
}