/* COLOR FORMAL PAG: #28a445 */
.navbar-verde{
    background-color: rgba(40, 164, 69, 1) !important;
    color: rgba(255,255,255,0.8);
}

.navbar-verde:hover{
    color: rgba(255,255,255,1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,0.7) !important;
    border-color: rgba(255,255,255,0.7) !important;
}

.navbar-light .navbar-toggler:hover {
    color: rgba(255,255,255,0.9) !important;
    border-color: #218838 !important;
    background-color: #218838;
}


.container{
    max-width: 960px;
}

.letras{
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sc-main{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(/img/fondo.jpg) no-repeat 50% 50% !important;
    background-size: cover !important;
    position: relative;
}

.sc-main{
	min-height: 50vh;
}

.btn{
    border-color: white !important;
}

.btn:hover{
    border-color: transparent !important;
}

.sc-header-content{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
}

.text-light{
    font-size: 25px;
}